html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;

    background-color: rgba(25,26,37,1);
}

.navbar
{
    font-family: 'Poppins', sans-serif;

    background-color: rgba(25,26,37,1);
}

.navbar li>a
{
    color: #EFEEFF !important;
    
    font-size: 18px;

    transition: .5s;
}

.navbar li a:hover, .navbar-brand:hover
{
    color: #FF3030 !important;
}

.navbar-brand
{
    color: #EFEEFF !important;

    font-size: 25px;

    transition: .5s;

    font-weight: bold;
}

.navbar-toggler
{
    color: #EFEEFF !important;
}

.navbar-usuario_logeado  span
{
    color: #7E8AFF !important;

    font-size: 18px;

    margin-left: 50px;
}

.navbar-usuario_logout span
{
    color: #FFFD88 !important;

    font-size: 15px;
}

.navbar-collapse.collapsing,
.navbar-collapse.show
{
    margin-top:1px;
    padding-top: 10px;
    padding-right: 10px;
    background: rgb(10,10,10);
}