{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!--Styles-->
  {% block extra_head %} {% endblock %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

  <!--Icono-->
  <link rel="icon" type="image/png" href="{% static 'img/LogoLogikSolo.png' %}">

  <!--Scripts-->
  <script src="https://kit.fontawesome.com/2d8167ed13.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

  <title>{% block title %} {% endblock %} - Logik</title>
</head>

<body>
  <header>
    {% if not no_logik_form %}
    <div class="container fixed-top">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/LogoLogik.png' %}" class="img-navbar-logik">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars fa-2x"></i>
        </button>
        <div class="collapse navbar-nav-color navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto align-self-center">
              <a class="nav-link" href="/problems">Problemas</a>
            </li>
            <!--
            <li class="nav-item ml-auto align-self-center">
              <a class="nav-link" href="/contests">Contests</a>
            </li>
            -->
            <li class="nav-item ml-auto align-self-center">
              <a class="nav-link" href="/recommended">Recomendados</a>
            </li>
            <li class="nav-item ml-auto align-self-center">
              <a class="nav-link" href="/ranking">Ranking</a>
            </li>
            <li class="nav-item ml-auto align-self-center">
              <a class="nav-link" href="/accounts">Cuentas conectadas</a>
            </li>
            <li class="nav-item ml-auto navbar-usuario_logeado align-self-center">
              <span class="nav-link"> 
                {% if request.user.first_name %}
                  ¡Hola {{request.user.first_name}}!
                {% elif request.user.username %}
                  ¡Hola {{request.user.username}}!
                {% endif %}
              </span>
            </li>
            <li class="nav-item ml-auto navbar-usuario_logout align-self-center">
              <a class="nav-link" href="/logout">
                {% if request.user.first_name %}
                  <span>Logout</span>
                {% elif request.user.username %}
                  <span>Logout</span>
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {% endif %}
  </header>

  {% block content %}

  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>