{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.css' %}">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!--Styles-->
    {% block extra_head %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/colors.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/letters.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/components.css' %}"/>

    <!--Icono-->
    <link rel="icon" type="image/png" href="{% static 'img/LogoLogikSolo.png' %}">

    <!--Scripts-->
    <script src="https://kit.fontawesome.com/2d8167ed13.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <title>{% block title %} {% endblock %} - Logik</title>
</head>

<body>
<header>
    {% if not no_logik_form %}
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/LogoLogik.png' %}" class="img-navbar-logik">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-2x"></i>
                </button>
                <div class="collapse navbar-nav-color navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ml-auto align-self-center">
                            <a class="nav-link" href="/problems">Problemas</a>
                        </li>
                        <!--
                        <li class="nav-item ml-auto align-self-center">
                          <a class="nav-link" href="/contests">Contests</a>
                        </li>
                        -->
                        <li class="nav-item ml-auto align-self-center">
                            <a class="nav-link" href="/recommended">Recomendados</a>
                        </li>
                        <li class="nav-item ml-auto align-self-center">
                            <a class="nav-link" href="/ranking">Ranking</a>
                        </li>
                        <li class="nav-item ml-auto align-self-center">
                            <a class="nav-link" href="/tutorial">Tutoriales</a>
                        </li>
                        <li class="nav-item ml-auto align-self-center">
                            <a class="nav-link" href="/accounts">Cuentas conectadas</a>
                        </li>
                        <li class="nav-item ml-auto navbar-usuario_logeado align-self-center">
              <span class="nav-link"> 
                {% if request.user.first_name %}
                    ¡Hola {{ request.user.first_name }}!
                {% elif request.user.username %}
                    ¡Hola {{ request.user.username }}!
                {% endif %}
              </span>
                        </li>
                        <li class="nav-item ml-auto navbar-usuario_logout align-self-center">
                            <a class="nav-link" href="/logout">
                                {% if request.user.first_name %}
                                    <span>Logout</span>
                                {% elif request.user.username %}
                                    <span>Logout</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endif %}
</header>

{% block content %}

{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>