{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/problems.css' %}" />
{% endblock %}

<!--Título-->
{% block title %} Problemas {% endblock %}

<!--Contenido-->
{% block content %}
<div class="container problems">
    <br />

    <div class="titulo text-center">
        <br />
        <h2>Lista de problemas:</h2>
        <br />
    </div>
    <table class="table table-dark">
        <thead class="text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Problema</th>
                <th scope="col">Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for i in problemas %}
            <tr class="text-center">
                <th scope="row">{{forloop.counter}}</th>

                <td><a href="{{i.2}}">{{i.0}}</a></td>
                <td class="display-puntaje {{i.4}}">{{i.3}}/{{i.1}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}