{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/ranking.css' %}" />
{% endblock %}

<!--Título-->
{% block title %} Ranking {% endblock %}

<!--Contenido-->
{% block content %}
<div class="container ranking">
    <div>
        <h2 class="text-center">Ranking de resolución de problemas</h2>
        <br /> <br />
        <table class="table table-light">
            <thead class="text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Puntaje</th>
                </tr>
            </thead>
            <tbody>
                {% for i,j,k in ranking %}
                <tr class="text-center">
                    <th scope="row">{{i}}</th>

                    <td>{{j}}</td>
                    <td>{{k}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}