.accounts-form
{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
}

.accounts-form h1
{
    font-family: 'Poppins', sans-serif;

    font-weight: bold;
}

.accounts-form form
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    font-family: 'Cairo', sans-serif;
    font-size: 23px;
    font-weight: bold;

    border-radius: 10px;
}

.accounts-form input
{
    height: 50px;

    font-size: 18px;
}

.modal-content
{
    background-color: white;
    border:0;
    border-radius: 10px;
}

.modal-content a
{
    color: #FB3F5F !important;

    font-weight: bold;
}