/* General */
html,body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;
}

/* Components */
a:hover{ text-decoration: none; }
.logik-pill-btn { border-radius: 100px; }
.logik-rounded-div { border-radius: 10px; }