.listaContests
{
    padding-top: 80px;
}

.titulo
{
    color: white;
    background-color: #2E3038;
}

.titulo h2
{
    margin: 0;
    padding: 0;
}

.contest-font-size, .contest-font-size a
{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.listaContests td>a
{
    color: white;

    transition: .3s;

    text-decoration: none;
}

.listaContests td>a:hover
{
    color: #FF3030;

    font-weight: bold;
}

.modalButton
{
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}

.modal-content
{
    background-color: #3B3A49;

    color:white;
}

.modal-content h5>span
{
    color: #FBFF00;

    font-weight: bold;
}