html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;

    /*background: rgb(10,10,10);
    background: linear-gradient(118deg, rgba(10,10,10,1) 26%, rgba(25,26,37,1) 100%);*/
    background-color: white;
}

.login-form-logik p
{
    display: table;

    margin-left: auto;
    margin-right: auto;
}

.login-form-logik label
{
    text-align: left;

    display: block;
}

.logik-login h1
{
    font-size: 50px;

    font-family: 'Poppins', sans-serif;
}

.logik-login label
{
    font-size: 20px;

    font-family: 'Cairo', sans-serif;

    font-weight: bold;    
}

.logik-login a
{
    font-size: 20px;

    font-family: 'Cairo', sans-serif;
}

.logik-login input
{
    height: 40px;

    /*outline-color: #070611;*/
    outline-color: black;
}

.logik-login
{
    position: relative;

    top: 50%;

    transform: translateY(-50%);

    border-radius: 7px;

    color: black;
}

.logik-login a
{
    color: black !important;
}