html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;

    /*background-color: rgba(25,26,37,1);*/
    background-color: white;
}

.navbar
{
    font-family: 'Poppins', sans-serif;

    /*background-color: rgba(25,26,37,1);*/
    background-color: white;
}

.navbar li>a
{
    /*color: #EFEEFF !important;*/
    color: black;
    
    font-size: 17px;

    transition: .2s;
}

.navbar li a:hover, .navbar-brand:hover
{
    color: blue !important;
    font-weight: bold;
}

.navbar-brand
{
    color: #EFEEFF !important;

    font-size: 25px;

    transition: .5s;

    font-weight: bold;
}

.navbar-toggler
{
    color: #E30037 !important;
}

.navbar-usuario_logeado  span
{
    color: #FF003E !important;

    font-size: 17px;

    margin-left: 50px;
}

.navbar-usuario_logout span
{
    color: #FF9300 !important;

    font-size: 15px;
}

.navbar-collapse.collapsing,
.navbar-collapse.show
{
    margin-top:1px;
    padding-top: 10px;
    padding-right: 10px;
    /*background: rgb(10,10,10);*/
    background-color: white;
}

.img-navbar-logik
{
    width: 100px;
}