.recommended
{
    padding-top: 80px;
}

.recommended h2
{
    color: white;

    font-weight: bold;

    font-size: 35px;

    width: 100%;
}

.modalButton
{
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}

.modal-content
{
    

    color:black;
}

.modal-content h5>span
{
    color: #6498FF;

    font-weight: bold;
}

#formulario label
{
    font-weight: bold;
}

.form-check-input:focus
{
    background-color: black !important;
}

.recommended h2
{
    color: black;

    margin-bottom: 0;
}

.recommended td>a
{
    color: black;

    transition: .2s;

    text-decoration: none;
}

.recommended td>a:hover
{
    color: #FF3030;

    font-weight: bold;
}

.fila-roja
{
    background-color: #FF5D1C !important;
}

.fila-verde
{
    background-color: #81FF5E !important;
}

.fila-amarilla
{
    background-color: #F8FF22 !important;
}

.display-puntaje
{
    color: black;

    border-radius: 20px;
}

.nav-tabs li
{
    border-radius: 5px 5px 0px 0px;

    border: 0;
}

.nav-tabs li .active
{
    color: black !important;

    font-weight: bold;

    border: 0;
}

.nav-tabs li a
{
    border: 0;
}

.nav-tabs li a
{
    color: #70708E;
}