html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;

    background: rgb(10,10,10);
    background: linear-gradient(118deg, rgba(10,10,10,1) 26%, rgba(25,26,37,1) 100%);
}

.register-logic span
{   
    font-family: 'Open Sans', sans-serif;

    font-size: 14px;

    color: red;
}

.register-logic li
{
    font-family: 'Open Sans', sans-serif;

    font-size: 14px;

    color: red;
}

.register-logic h1
{
    font-size: 50px;

    font-family: 'Poppins', sans-serif;
}

.register-logic label
{
    font-size: 20px;

    font-family: 'Cairo', sans-serif;

    font-weight: bold;    
}

.registro-form-logic span, label, input
{
    display: block;
}

.registro-form-logic input
{
    height: 40px;

    outline-color: #070611;

    width: 100%;
}

.register-logic a
{
    color: #EFEEFF !important;
}

.register-logic
{
    color: #EFEEFF;

    position: relative;

    top: 50%;

    transform: translateY(-50%);
}

.centrar
{
    float: none; 
    margin: 0 auto;
}

.register-logic a
{
    font-size: 20px;

    font-family: 'Cairo', sans-serif;
}