{% extends "base.html" %}

{% load static %}

<!--Título-->
{% block title %} Registro {% endblock %}

<!--Contenido-->
{% block content %}
    <div class="d-flex align-items-center h-100 logik-primary-gradient">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 logik-white-bg p-4 logik-rounded-div logik-white-bg mx-auto">
                    <div class="text-center mb-4">
                        <img src="{% static 'img/LogoLogik.png' %}" class="w-25">
                    </div>

                    <h2 class="text-center mb-4 logik-red-letter"><strong>Creá tu cuenta</strong></h2>

                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <small><strong>{{ error|escape }}</strong></small>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                        <span class="input-group-text logik-transparent-bg logik-red-letter"
                                              id="basic-addon1"><i
                                                class="fas fa-user"></i></span>
                                </div>
                                <input id="id_username" name="username"
                                       type="text" class="form-control p-3"
                                       placeholder="Nombre de usuario" oninput="checkUsername(this.value)">
                            </div>
                            <div class="mb-4">
                                {% for error in form.username.errors %}
                                    <small class="text-danger"><strong>{{ error }}</strong></small>
                                {% endfor %}
                            </div>

                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                        <span class="input-group-text logik-transparent-bg logik-red-letter"
                                              id="basic-addon1"><i
                                                class="fas fa-lock"></i></span>
                                </div>
                                <input id="id_password1" name="password1"
                                       type="password" class="form-control p-3"
                                       placeholder="Contraseña" oninput="checkPassword(this.value)">
                            </div>
                            <div class="mb-4">
                                {% for error in form.password1.errors %}
                                    <small class="text-danger"><strong>{{ error }}</strong></small>
                                {% endfor %}
                            </div>

                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                        <span class="input-group-text logik-transparent-bg logik-red-letter"
                                              id="basic-addon1"><i
                                                class="fas fa-lock"></i></span>
                                </div>
                                <input id="id_password2" name="password2"
                                       type="password" class="form-control p-3"
                                       placeholder="Confirmar contraseña"
                                       oninput="checkPasswordValidation(this.value)">
                            </div>
                            <div class="mb-4">
                                {% for error in form.password2.errors %}
                                    <small class="text-danger"><strong>{{ error }}</strong></small>
                                {% endfor %}
                            </div>

                            <button class="btn logik-primary-gradient mb-4 py-3 btn-block logik-pill-btn border-0"
                                    type="submit">
                                <h3 class="m-0"><strong class="logik-white-letter">Crear cuenta</strong></h3>
                            </button>
                        </div>
                    </form>

                    <hr class="mb-4"/>

                    <span class="logik-gray-letter">
                        ¿Ya sos parte de Logik?
                        <a href="/login" class="logik-blue-letter"><strong>Ingresá a tu cuenta</strong></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}